<!-- Begin Footer -->
{% extends '::base.html.twig' %}

{% block footer %}

  <div class="footer-content">
    <div class="col3-wrap">
    
       <!-- Begin Recent Posts -->
      <div class="col3">
        <h2 class="recentposts">Recent Posts</h2>
        <ul class="unordered">
          <li><a href="#">Duis id tellus at eros tempor imper.</a></li>
          <li><a href="#">Aenean ligula nisl, fermentum vel lobortis id, scelerisque at lorem.</a></li>
          <li><a href="#">Suspendisse nec neque ut nunc rhoncus sodales.</a></li>
          <li><a href="#">Duis id Nam pulvinar faucibus dui.</a></li>
          <li><a href="#">Pellentesque pulvinar sagittis.</a></li>
        </ul>
      </div>
      <!-- Begin Recent Posts -->
      
      <!-- Begin Tags -->
      <div class="col3">
        <h2 class="tags">Tags</h2>
        <ul class="tags">
          <li><a href="#">Photography</a></li>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Illustration</a></li>
          <li><a href="#">Manipulation</a></li>
          <li><a href="#">Textures</a></li>
          <li><a href="#">Print</a></li>
          <li><a href="#">Graphic Design</a></li>
          <li><a href="#">Wallpaper</a></li>
          <li><a href="#">Coding</a></li>
          <li><a href="#">Black &amp; White</a></li>
          <li><a href="#">Stock</a></li>
          <li><a href="#">Digital Art</a></li>
          <li><a href="#">Drawings</a></li>
          <li><a href="#">Vector</a></li>
          <li><a href="#">Animation</a></li>
        </ul>
      </div>
      <!-- End Tags -->
      
      <!-- Begin Twitter -->
      <div class="col3">
        <h2 class="twit">Twitter</h2>
        <div class="twitter">
          <div class="twitter-top"></div>
          <div class="twitter-mid">
            <div class="message" id="twitter"></div>
            <!-- Twitter --> 
          </div>
          <div class="twitter-bottom"></div>
        </div>
      </div>
      <!-- End Twitter -->
    </div>
  </div>

<!-- End Footer -->

{% endblock %}