{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
<div>
    {% if object.webPath  != null %}
    <img src="{{ object.webPath }}" width="50" height="50">
    {% else %}
    <span>No picture</span>
    {% endif %}
</div>
{% endblock %}